@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main:#10A836;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  min-height: 100vh;
}

img {
  vertical-align: bottom;
  height: auto;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
}

.greenBtn {
  max-width: 400px;
  width: 10em;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main);
  padding: 12px;
  display: block;
  border-radius: 8px;
  margin: 16px auto;
}

.topContainer {
  display: grid;
  place-content: center;
}

.iconimage {
  display: grid;
  place-content: center;
  padding-block-start: 4rem;
}

.iconimage img {
  object-fit: cover;
    width: 20vw;
  height: 20vw;
  border-radius: 50%;

}

.logo {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}